<div class='row'>
    <div class='col-10'>
        <h2>HOLA <strong class='colorPaciente'> {{paciente?.nombre}}
                {{paciente?.apellido}}
            </strong> <span class='badge ml-4' [ngClass]="{ 'badge-success': paciente?.estado === 'validado','badge-warning': paciente?.estado === 'temporal'}">{{paciente?.estado}}</span>
        </h2>
        <hr>
        <span class='datosSecundarios'>Documento:</span> <strong> {{paciente?.documento}}</strong>
        <span class='datosSecundarios'>Fecha de nacimiento:</span><strong> {{paciente?.fechaNacimiento | date:
            "dd/MM/yyyy"}}</strong>
        <span class='datosSecundarios'>Genero:</span><strong> {{paciente?.sexo | uppercase}} </strong>


    </div>
    <div class='col-2 text-right'>
        <button class='btn btn-danger btnBack' (click)='volver()'>Atras</button>
    </div>

</div>

<!-- <span class='datosSecundarios'>Genero:Masculino</span> <span class='datosSecundarios'>Fecha de nacimiento:19/10/1995</span> -->