<div class='container'>
    <div class='row'>
        <div class='col-12'>
         <h1>¡¡Su turno fue asignado correctamente!!</h1>   
        </div>
    </div>
    <div class='row'>
        <div class='col-6'>
            <h1>Descargue la aplicación Andes Neuquén para recibir notificaciones, gestionar sus turnos, ver sus
                laboratorios y vacunas.</h1>
        </div>
        <div class='col-6 '>
            <!-- <button class='btn btn-danger btnBack' (click)='volver()'>Atras</button> -->
        </div>

    </div>
</div>
<!-- <span class='datosSecundarios'>Genero:Masculino</span> <span class='datosSecundarios'>Fecha de nacimiento:19/10/1995</span> -->