.btnPrestacion {
    font-size: 25px
}

.btn-prestacion {
  background: #6d4493;
  color: #ffffff;
  border: 0px;
  font-size: 2.25rem;
  text-transform: lowercase;

    &::first-letter {
        text-transform: uppercase;
    }

}
        b.seleccion {
            word-break: break-word;
            display: block;
        }
