<plex-layout main="12">
  <plex-layout-main>
    <header>
          {{paciente.nombre}}
          {{paciente.apellido}}
          {{paciente.documento}}
      <h3>Prestaciones Disponibles</h3>
    </header>
    <ul>
      <div class="pt-2" *ngFor="let prestacion of prestaciones">
        <button class="btn-block" type="info" (click)="selectPrestacion(prestacion)">
          &nbsp;<br>{{prestacion.term | uppercase}}<br>&nbsp;
        </button>
      </div>
    </ul>
  </plex-layout-main>
</plex-layout>
