<plex-layout main="12">
  <plex-layout-main *ngIf='!turnoSeleccionado'>
    <header>
      <header>

        <header-component></header-component>
      </header>
    </header>
    <div class='text-center'>
      <h3>Turnos Disponibles de </h3>
      <h2><strong> {{prestacionSeleccionada.term | uppercase }}</strong></h2>

    </div>

    <!-- <ul>
          
        </ul> -->

    <div class='row'>
      <div class="col-4 mt-1" *ngFor="let turno of listadoTurnos">
        <div class="pt-2">
          <button class="btn btnTurnos w-100" type="info" (click)="selectTurno(turno)">
            {{turno.turno.horaInicio | date:"dd/MM/yyyy - HH:mm "}} hs<br>
            <span *ngIf='turno.profesional'> {{turno.profesional | profesional}}</span>
            <span *ngIf='!turno.profesional'>Profesional no
              asignado</span>

          </button>
        </div>
      </div>
    </div>
  </plex-layout-main>
  <plex-layout-main *ngIf='turnoSeleccionado'>
    <header>
      <header>

        <header-component></header-component>
      </header>
    </header>
    <div class='container'>

      <div class='row mt-4  d-flex justify-content-center'>
        <div class='col-8 text-center cardTurno'>
          <h1> <i class="mdi mdi-information-outline info-logo"></i></h1>
          <h2 class="blue">Revise la infomación de su turno</h2>
          <div class="acheerre mt-4"></div>

          <h1 class='mt-4'> <strong>{{turnoSeleccionado.prestacion.term | uppercase}}</strong> </h1>

          <h3 class="mt-4"><span class="greyPrefix"> {{diaString}}</span>
            <strong> {{turnoSeleccionado.turno.horaInicio| date: "dd/MM/yyyy"}}</strong>
          </h3>

          <h3 class="mt-4 blue"><strong>{{turnoSeleccionado.turno.horaInicio| date: " HH:mm "}} &nbsp; hs.</strong></h3>

          <span class='profesional mt-4' *ngIf='turnoSeleccionado.profesional'>
            <span class="greyPrefix">Dr/a. </span>{{turnoSeleccionado.profesional.apellido}}
            {{turnoSeleccionado.profesional.nombre}}</span>
          <span class='profesional mt-4' *ngIf='!turnoSeleccionado.profesional'>Profesional no asignado</span>

          <div class="row mt-4">
            <div class="col-6">
              <button class='btn btn-warning btnConfirm' [disabled]='disabled' (click)='corregir()'>Corregir</button>
            </div>
            <div class="col-6">
              <button label="Confirmar" [disabled]='disabled' class='btn btn-success btnConfirm'
                (click)='guardar()'>Confirmar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </plex-layout-main>

</plex-layout>
