.cardTurno {
    padding: 2% 5% 3% 5%;
    box-shadow: 5px 3px 20px #0000009e;
}

.prestacion {
    color: #00a8e0;
    font-weight: 500;
}

.profesional {
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
}

.btnConfirmTurno {
    width: 100%;
    padding: 25px;
    font-size: 25px;
}

.btnTurnos {
    color: white;
    background-color: #002738 !important;
    border: #00a8e0;
    font-size: 25px;
}

.turnos {
    // max-height: 510px;
    // overflow: hidden;
    max-height: 510px;
    overflow: hidden;
}

.nav-turnos {
    .mdi-100px {
        font-size: 100px;
        line-height: 55px;
    }
}

.btn-turno {
    background: #c2f2ff;
    color: black;
    border: 2px solid #00a8e0;
    font-size: 1.75rem;
    text-transform: lowercase;

    >span {
        height: 40px;
        line-height: 25px;
    }

    &::first-letter,
    span::first-letter {
        text-transform: uppercase;
    }

    small {
        font-size: 1rem;
    }

    &:hover {
        border: 4px inset #002738;

    }
}

.text-uppercase-first {
    text-transform: lowercase;

    &::first-letter {
        text-transform: uppercase;
    }
}

.info-logo {
    color: #00a8e0;
    font-size: 76px
}

.acheerre {
    text-align: center;
    border-bottom: 2px solid #00a8e0;
    width: 6%;
    margin-left: 47%;
}

.greyPrefix {
    color: grey;
    font-size: 2rem;
    font-weight: 600;
}

.blue {
    color: #00a8e0;
}